docker.enabled = true
nextflow.enable.dsl = 2
dag.overwrite = true

import groovy.json.JsonSlurper
def JsonSlurper = new JsonSlurper()
azure_config = JsonSlurper.parse(new File("./credentials.json"))

profiles {
  az {

    docker.enabled = true
    dag.overwrite = true

    workDir = 'az://nfmsdapstoragecontainer/work/'

    process {
      executor = 'azurebatch'
    }

    azure {
      storage {
        accountName = azure_config["storageAccountName"]
        accountKey = azure_config["storageAccountKey"]
      }
      batch {
        location = 'westeurope'
        accountName = azure_config["batchAccountName"]
        accountKey = azure_config["batchAccountKey"]
        autoPoolMode = true
        allowPoolCreation = true
        pools {
          auto {
              autoScale = true
              vmType = 'Standard_d4_v3'
              maxVmCount = 10
          }
        }
      }
    }
  }

  local {
    docker.enabled = true
  }
}